{% extends 'commonbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
</style>
<center>
<div style="margin: 50px;">
    <hr><h3>Registration</h3><hr>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" class="form-control" pattern="[a-zA-Z ]+" name="txtName" required></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" class="form-control" name="txtContact" pattern="[6789][0-9]{9}" required></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" class="form-control" name="txtEmail" required></td>
            </tr>
            
            <tr>
                <td>Password</td>
                <td><input type="password" class="form-control" name="txtPassword" required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-danger" value="Register"></td>
            </tr>
        </table>
    </form>
</div>
</center>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg);
</script>
{% endblock %}